body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.crews-container {
  min-width: 200px;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 8px;

}

.crews-container-img {
  display: flex;
  justify-content: center;
}



.crews-gallery {
  display: flex;
  justify-content: space-between;
}